body {
    background-image: url(/image/cover\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-text {
    font-weight: 700;
    font-size: larger;
    color: white;
}

.nav-bg-color {
    background-color: white;
}

/* at a glance section  */

.card-width {
    width: 75%;
}

.card-value-number {
    font-weight: 800;
    font-size: 4em;
}

/* our partner section design  */
.partner-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px;
    grid-gap: 10px;

}

.our-partner {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

/* FAQ section design */
.halfs {
    width: 50%;
}

/* Footer section design  */
footer {
    height: 200px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

footer p {
    color: white;
    text-align: center;
}




/* -------------------------
        cons                
---------------------------- */
.const {
    padding: 5%;
}